
body {    
    width: 80%;
    background: #F2F7FA ;
    margin: auto;
}
.header {
    display: flex;
    justify-content: space-between;
}

.header div{
    width: 40%;
}

.title{
    padding: 20px;
    font-family: "Rubik";
    color: #4478FF;
    font-size: 50px;
    font-weight: 500;
}
.logo_container{
    width: 50%;
}

.logo{
    box-sizing: border-box;
    width: 130px;
    height: 300px;
    background-color: #4478FF;
    border-radius: 30px;
    padding: 20px 20px 20px 20px;
    display: grid;
}

.logo h5{
    color: #F2F7FA;
}

.logo img, h5{
    width: 80%;
    margin: auto;
    text-align: center;
}


.logo img{
    width: 85px;
    height: 85px;
    border-radius: 10px;
    background-color: white;
}

.content_box{
    margin-top: 50px;
    width: 100%;
    border-top: 2px black solid;
}

.content {
    width: 95%;
    height: fit-content;
    padding-bottom: 8px;
    background-color: aquamarine;
    border-radius: 20px;
    margin: auto;
    box-shadow: 10px 5px gray;
    margin-top: 20px;
    margin-bottom: 50px;
    
}

.content h2{
    padding-top: 5px;
    width: 100%;
    height: 40px;
    background-color: #3572EF;
    border-radius: 20px 20px 0px 0px;
    color: #F2F7FA;
    font-size: 24px;
}

.list_item{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}


.item {
    width: 18%;
    height: 65px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.item img{
    width: 64px;
    height: 64px;
}

.item p{
    width: 120px;
    height: 80%;
    padding-top: 21px;
    font-size: 14px;
    color:black;
}
