<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Công cụ hỗ trợ bán chéo sản phẩm</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/x-icon" href="../static/icon.ico">
</head>
<body>
<h1 class="tittle"> Công cụ hỗ trợ bán chéo sản phẩm </h1>
<div class="feature">
    <form action="{{ url_for('index') }}" method="get">
        <button type="submit">FlagShip</button>
    </form>
    <form action="{{ url_for('classifi_product') }}" method="post">
        <input type="hidden" name="product_type" value="A">
        <button type="submit">Phân loại</button>
    </form>
    <form action="{{ url_for('open_process_index') }}" method="get">
        <button type="submit">Cài đặt</button>
    </form>
</div>


<h2>Phân loại sản phẩm theo tần suất mua và doanh thu </h2>
<div class="feature_classifi">
    <form action="{{ url_for('classifi_product') }}" method="post">
        <input type="hidden" name="product_type" value="A">
        <button type="submit">Nhóm A</button>
    </form>
    <form action="{{ url_for('classifi_product') }}" method="post">
        <input type="hidden" name="product_type" value="B">
        <button type="submit">Nhóm B</button>
    </form>
    <form action="{{ url_for('classifi_product') }}" method="post">
        <input type="hidden" name="product_type" value="C">
        <button type="submit">Nhóm C</button>
    </form>
    <form action="{{ url_for('classifi_product') }}" method="post">
        <input type="hidden" name="product_type" value="D">
        <button type="submit">Nhóm D</button>
    </form>
</div>
<div>
    <img src=" ../picture/{{type}}.png" class="card-img-top" alt="..." 
                    style = "width: 40px;   height: 40px;   float: left">
    <h2 style = "margin-left: 45px">{{title}}</h2>
</div>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Sản phẩm</th>
            <th>Image</th>
            <th>Tần suất mua</th>
            <th>Doanh số</th>
        </tr>
        </thead>
        <tbody>
        {% for itemset in arraydisplay %}
        <tr>
            <td>{{ itemset['product_id']}}</td>
            <td><img src=" ../picture/{{itemset['product_id']}}.png"></td>
            <td class="it_sp">
                <div class="progress-container">
                    <div class="progress-bar" style="width: {{ itemset['support'] * 100 }}%;">
                        {{ "{:.1f}".format(itemset['support'] * 100)}}%
                    </div>
                </div>
            </td>
            <td>{{"{:.1f}".format(itemset['revenue'])}} sản phẩm</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
