/* static/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #F2F7FA;
}

h1{
    color: #333;
}
h2{
    margin-left: 2%;
    background: #324960;
    height: 30px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 20px;
    color: white;
    width: fit-content;
    padding-right: 10px;
    font-size: large;
}
.tittle{
    text-align: center;
    text-transform: capitalize;
    font-family: math;
    color: #4478FF;
    font-size: 50px;
    font-weight: 500;
}
.feature {
    display: flex;
    height: auto;
    width: fit-content;
    justify-content: space-evenly;
    margin: auto;
}
.feature_classifi{
    display: flex;
    height: auto;
}

button {
    background-color: #0066cc;
    color: white;
    width:120px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover,
button:focus {
    background: green;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

td img {
    width: fit-content;
    height: 70px;
}

th {
    background-color: #f2f2f2;
    color: black;
}

/* Modal styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 50%;
    max-width: 500px;
    max-height: 170px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.modal-content {
    margin: 5px 0;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.btclose {
    float: left;
    top: 180px;
    position: relative;
    left: 50px

}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
}

.btsave {
    float: right;
    position: relative;
    top: 180px;
    right: 50px;
}
/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}

.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr {
    background: #aaf1fa;
}

.fl-table tr:nth-child(even) {
    background: #b4b4b4;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}


/*Thanh tần suất*/
.progress-container {
    width: 100%;
    height:auto;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
    border: 1px solid lightblue;
}
.progress-bar {
    height: 15px;
    background-color: #4caf50;
    width: 0;
    transition: width 0.4s ease;
}


